{% extends "OCCoreBundle::layout.html.twig" %}

  {% block body %}
      <h1>Bienvenue sur le Core Bundle !</h1>
      <p>Ceci est la page d'acceuil de ce site, il permet de faire la glue entre tous les bundles qui le composeront ! :-)</p>
      <p>De plus, les 3 dernières annonces sont affichées sur la gauche dans le menu ! :D</p>
  {% endblock %}